.heading-box
  width 100%
  height 55em
  background-color soft-theme-color

  @media (max-width 1366px)
    height 40em

  @media (max-width 900px)
    height 36em

  @media (max-width 600px)
    height 28em

  .heading-1
    padding-top 3.55em
    font-size 5.5em
    font-weight 900
    color theme-color
    text-align center

    @media (max-width 1366px)
      padding-top 3em
      font-size 4.75em

    @media (max-width 600px)
      padding-top 3.1em
      font-size 4.25em

  .page-description
    width 18em
    margin 1.3em auto 0 auto
    font-size 1.75em
    font-weight 700
    line-height 1.4em
    text-align center

    @media (max-width 1366px)
      margin-top 1.2em
      font-size 1.7em

    @media (max-width 900px)
      margin-top .75em
      font-size 1.65em

    @media (max-width 600px)
      width 70%

.blog-illustration
  position absolute
  top 30em
  left calc(50% - 30em)
  width wdt = 60em
  height wdt

  @media (max-width 1600px)
    left calc(50% - 28em)
    width wdt = 54em
    height wdt

  @media (max-width 1366px)
    top 22em
    left calc(50% - 24em)
    width wdt = 48em
    height wdt

  @media (max-width 1280px)
    left calc(50% - 22.5em)
    width wdt = 45em
    height wdt

  @media (max-width 1024px)
    left calc(50% - 20em)
    width wdt = 40em
    height wdt

  @media (max-width 900px)
    left calc(50% - 25em)
    width wdt = 50em
    height wdt

  @media (max-width 600px)
    position relative
    left 7%
    top auto
    width 86%
    height auto

.blog-advantages-wrapper
  resize-width(true)
  flex-parent(row, wrap, space-between)
  margin-top 3em

  @media (max-width 1280px)
    margin-top 1.5em

  @media (max-width 900px)
    margin-top 36em
    justify-content space-around

  @media (max-width 600px)
    margin-top 4em
    justify-content center

  .blog-advantage
    flex-basis 21em

    @media (max-width 1600px)
      flex-basis 19em

    @media (max-width 1366px)
      flex-basis 17em

    @media (max-width 1280px)
      flex-basis 16em

    @media (max-width 900px)
      flex-basis 18em

    @media (max-width 600px)
      flex-basis 60%

      &:first-child
        margin-bottom 3em

    .blog-advantage-illustration
      width 100%

    .blog-advantage-text
      margin-top .4em
      font-size 1.6em
      font-weight 600
      text-align center
      line-height 1.5em

      @media (max-width 1366px)
        font-size 1.55em

      @media (max-width 1280px)
        font-size 1.5em

      @media (max-width 900px)
        font-size 1.55em

.blog-section-name
  resize-width()
  margin 3em auto 2.5em auto
  font-size 4em
  font-weight 800
  color theme-color

  @media (max-width 1600px)
    font-size 3.75em

  @media (max-width 1366px)
    font-size 3.5em

  @media (max-width 1280px)
    margin 2.75em auto 2.25em auto
    font-size 3.25em

  @media (max-width 900px)
    margin 2.25em auto 1.75em auto
    font-size 2.75em

  @media (max-width 600px)
    margin 2.75em auto 1.5em auto
    font-size 2.7em

.articles-wrapper
  resize-width(true)
  flex-parent(row, wrap, space-between)
  align-items flex-start
  cursor pointer

  .article-wrapper
    flex-basis 47.5%
    margin-bottom 8em

    @media (max-width 1600px)
      margin-bottom 7em

    @media (max-width 1366px)
      margin-bottom 6em

    @media (max-width 768px)
      flex-basis 100%
      margin-bottom 4em

    .article-cover
      width 100%
      height 42em
      margin 0
      border-radius(2)
      object-fit cover

      @media (max-width 1600px)
        height 35em

      @media (max-width 1366px)
        height 32em

      @media (max-width 1280px)
        height 30em

      @media (max-width 900px)
        height 26em

      @media (max-width 768px)
        height 35em

      @media (max-width 600px)
        height 24em

      @media (max-width 375px)
        height 20em

    .article-title
      width 100%
      margin-top 1em
      font-size 2.75em
      font-weight 800
      line-height 1.35em

      @media (max-width 1366px)
        font-size 2.5em

      @media (max-width 768px)
        font-size 2.4em

      @media (max-width 600px)
        font-size 2.2em

    .article-description
      width 100%
      margin-top 1.2em
      font-size 1.7em
      font-weight 500
      line-height 1.5em
      color rgba(text-color, .5)

      @media (max-width 1366px)
        font-size 1.65em

      @media (max-width 768px)
        font-size 1.6em