.cart-wrapper
  width 80%
  margin 0 auto
  border(1px, solid, #ddd)
  border-radius(1.7em)
  background-color rgba(text-color, .01)

  @media (max-width 1366px)
    width 90%

  @media (max-width 900px)
    width 92%

  @media (max-width 600px)
    width 86%

  .cart-item
    width 95%
    height item-height = 19em
    padding 2.5%
    flex-parent(row, nowrap, flex-start)
    align-items center

    @media (max-width 1200px)
      height 17em

    @media (max-width 600px)
      width 92%
      padding 4%
    
    &:not(:last-child)
      border-bottom 1px solid #ddd

    .cart-item-img
      width item-height
      height item-height
      border(1px, solid, #ddd)
      border-radius(2.2em)
      object-fit cover

      @media (max-width 1200px)
        width wth = 17em
        height wth

      @media (max-width 600px)
        width wth = 10em
        height wth
        border-radius(1.5em)

    .item-info-wrapper
      margin-left 4.5em
      flex-grow 1
      flex-parent(row, wrap, space-between)
      align-items center

      @media (max-width 600px)
        margin-left 2em

      .cart-item-name
        flex-basis 40%
        one-line-text()
        font-size 1.75em
        font-weight 900
        color theme-color

        @media (max-width 900px)
          flex-basis 100%

      .item-details-wrapper
        flex-parent(row, wrap, flex-start)
        align-items center

        @media (max-width 900px)
          margin-top .5em

        @media (max-width 600px)
          margin-top 1em

        .cart-item-preco
        .cart-item-qntd
          font-size 1.65em
          font-weight 700
          margin-right 1.6em
        
        .cart-item-qntd
          color #989898

        .cart-item-options
          flex-parent(row, nowrap, flex-start)
          border-radius(1em)

          @media (max-width 600px)
            margin-top 1em

          .cart-item-option-btn
            width 4.4em
            height 4em
            border(1px, solid, #ddd)
            flex-parent(row, nowrap, center)
            align-items center
            background-color #fcfcfc
            cursor pointer

            &:first-child
              border-right-style none
              border-top-left-radius 1em
              border-bottom-left-radius 1em

            &:last-child
              border-left-style none
              border-top-right-radius 1em
              border-bottom-right-radius 1em

            .option-text-content
              margin-top .1em
              font-size 2.4em
              font-weight 700

              &.disabled-item-option
                color #C4C4C4

            .delete-item-icon
              flex-basis auto
              height 48%

      .cart-item-error-message
        flex-basis 100%
        display none
        margin-top 1.2em
        font-size 1.55em
        font-weight 500
        color orangered

.empty-cart-message
  font-size 1.65em
  font-weight 600
  text-align center