#footer
  resize-width()
  padding 6em 10%
  background-color theme-color
  margin-top 14em

  @media (max-width 1366px)
    padding 5%

  @media (max-width 900px)
    padding 4%

  @media (max-width 600px)
    padding 7%