.about-us-box
  width 75em
  margin 5em auto 2em auto

  @media (max-width 900px)
    width 65em

  @media (max-width 768px)
    margin-top 3em
    width 82%

  .about-us-illustration
    width 90%
    margin-left 5%

    @media (max-width 1366px)
      width 75%
      margin-left 12.5%

    @media (max-width 768px)
      width 100%
      margin-left 0

  .about-us-topic
    margin-top 2.5em
    margin-bottom 2em
    font-size 3.5em
    font-weight 900
    text-align center
    
    @media (max-width 768px)
      margin-bottom 1.7em
      font-size 2.25em
      line-height 1.4em

  .about-us-text
    width 80%
    margin 0 auto
    font-size 1.75em
    font-weight 500
    line-height 1.55em
    text-align center
    
    @media (max-width 768px)
      width 100%
      font-size 1.55em

    &:not(:last-child)
      margin-bottom 1.2em