.videos-wrapper
  width 80%
  height auto
  flex-parent(row, wrap, space-between)
  margin 0 auto

  @media (max-width 1366px)
    width 90%

  @media (max-width 900px)
    width 92%

  @media (max-width 900px)
    width 86%

  .youtube-video
    width 48%
    height 415px
    margin-top mt = 4em
    margin-bottom mt
    border-radius(3em)

    @media (max-width 1670px)
      height 345px
      margin-top mt = 3em
      margin-bottom mt

    @media (max-width 1366px)
      height 330px
      margin-top mt = 2.5em
      margin-bottom mt

    @media (max-width 1280px)
      height 310px

    @media (max-width 1160px)
      height 270px

    @media (max-width 900px)
      height 222px
      border-radius(1.5em)
      margin-top mt = 2em
      margin-bottom mt

    @media (max-width 768px)
      height 190px

    @media (max-width 600px)
      height 184px
      width 100%
      margin-bottom 1em
