#customers-slider
  width 100%
  height auto

  @media (min-width 601px)
    white-space nowrap
    overflow hidden
    scroll-behavior smooth

  @media (max-width 600px)
    width 80%
    margin 0 auto
    flex-parent(row, wrap, space-between)

  .customer-box
    width wth = 25em
    height wth
    margin 0 1.5em 0 1.5em
    border-radius(50%)
    background-color rgba(soft-theme-color, .25)

    @media (min-width 601px)
      display inline-block

    @media (max-width 1366px)
      width wth = 22em
      height wth

    @media (max-width 600px)
      margin 0
      width 47.5%

      &:not(:last-child)
        margin-bottom 1.8em

      &:last-child
        margin 0 auto

    .customer-logo
      width 38%
      position absolute
      top 50%
      left 50%
      transform(translate(-50%, -50%))

.slider-controllers-wrapper
  margin 0 auto
  margin-top 6em
  flex-parent(row, nowrap, center)

  @media (max-width 600px)
    display none

  .slider-btn-controller
    width wth = 1.6em
    height wth
    margin-right .75em
    margin-left .75em
    border-radius(50%)
    background-color rgba(theme-color, .28)
    cursor pointer

    @media (max-width 1366px)
      width wth = 1.5em
      height wth

    &.active-slider-controller
      background-color theme-color