#first-box
  width 80%
  min-height calc(100vh - 14em)
  height auto
  padding 12em 10% 2em 10%
  align-items center
  flex-wrap nowrap

  @media (max-width 1366px)
    width 90%
    padding-left 5%
    padding-right 5%

  @media (max-width 900px)
    width 92%
    padding-left 4%
    padding-right 4%
    min-height auto
    flex-wrap wrap
    justify-content center

  @media (max-width 600px)
    width 86%
    padding-left 7%
    padding-right 7%

  #initial-text
  #initial-illustration
    margin-top -6em

  #initial-text
    @media (max-width 900px)
      order 2
      flex-basis 70%
      margin-top 1em
    
    @media (max-width 600px)
      flex-basis 100%
      margin-top 1.5em

    .main-title
      font-size 6.5em
      font-weight 900
      font-style italic
      color theme-color

      @media (max-width 1366px)
        font-size 6em

      @media (max-width 1280px)
        font-size 5em

      @media (max-width 900px)
        font-style normal
        text-align center
        
      @media (max-width 600px)
        font-size 3.2em

    .main-subtitle
      max-width 18em
      margin-top 2.75em
      font-size 2.5em
      font-weight 800

      @media (max-width 1366px)
        font-size 2.2em

      @media (max-width 1280px)
        margin-top 2.25em
        font-size 2em

      @media (max-width 900px)
        text-align center
        margin 0 auto
        margin-top 1.2em
        
      @media (max-width 600px)
        font-weight 700

    .main-paragraph
      max-width 25em
      margin-top 2em
      font-size 1.8em
      font-weight 600
      line-height 1.5em

      @media (max-width 1366px)
        max-width 22em

      @media (max-width 900px)
        max-width 100%
        text-align center
        margin 0 auto
        margin-top 2em
        
      @media (max-width 600px)
        font-size 1.5em

    .see-more-button-wrapper
      width 22em
      height 6.25em
      margin-top 7em

      @media (max-width 900px)
        margin 0 auto
        margin-top 3.5em

      @media (max-width 600px)
        width 20em
        height 5.5em
        margin-top 3em

      .see-more-button
        position absolute
        z-index 1
        top 0
        left 0
        width 100%
        height 85%
        border-radius(1.2em)
        flex-parent(row, wrap, center)
        align-items center
        background-color theme-color
        cursor pointer

        @media (max-width 600px)
          border-radius(1.8em)
          box-shadow(0px 10px 20px 0px rgba(#9a9999, .31))

        .see-more-text
          margin-top .2em
          font-size 1.8em
          font-weight 700
          letter-spacing .06em
          color reversed-text-color
          text-align center

          @media (max-width 600px)
            font-size 1.6em

      .background-blur
        position absolute
        z-index 0
        bottom 0
        left 7.5%
        width 85%
        height 70%
        filter(blur(23px))
        background-color theme-color
        opacity .55
        transition(100ms)

        @media (max-width 900px)
          display none

      .see-more-button:hover + .background-blur
        bottom 10%
        filter(blur(12px))
        opacity .6

  #initial-illustration
    flex-basis 50%

    @media (max-width 900px)
      order 1
      flex-basis 90%
      margin-top -2em

    @media (max-width 600px)
      flex-basis auto
      height 32em
      margin-top -4em